@font-face {
    font-family: 'LeferiBaseType-RegularA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-RegularA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{margin: 0; padding: 0; font-family: 'LeferiBaseType-RegularA';}
a{text-decoration: none; color: inherit;}
li{list-style: none;}
i, em, address {font-style: normal;}
p , button{font-size: 1rem;}
button {cursor: pointer;}
body {min-width: 320px;}
/*모달 검정배경*/
#container{position:absolute; display: none; left:0; top: 0; z-index: 1000; height: 100vh; width: 100vw; margin-top: 70px; background: rgba(0, 0, 0, 0.4);}
/*헤더*/
#wrap {width: 100%; height: auto;}
#wrap .inner {width: 100%; height: 70px;}
#header-pc {position: relative; z-index: 2; max-width: 1280px; height: 70px; margin: 0 auto;}
#header-pc h1{float: left; width: 110px; height:70px; cursor: pointer; animation: logo 5s;}
@keyframes logo {0% {margin-top:20px; opacity:0;} 100% {margin-top:0px; opacity:1;}}

#header-pc h1 > img{width: 100%; object-fit: cover; margin-top: 23px;}
#header-pc nav {float: left; width: 80%; height: 70px; margin-left: 5%;}
#header-pc .menu-pc {display: flex; justify-content: end; align-items: center; height: 100%; margin-left: 10%;}
#header-pc .menu-pc > li{float: left; margin: 0 40px 0 0;}
@keyframes menu {0% {margin-top:-50px; opacity:0;} 100% {margin-top:0px; opacity:1;}}
#header-pc .menu-pc > li:last-of-type {margin: 0 20px 0 0;}
#header-pc .menu-pc > li > a {font-size: 1rem; color: #073042; transition: 0.5s; font-weight: 700;}
#header-pc .menu-pc > li > a:hover {color:#267e69;}

#header-pc .menu-pc li:nth-of-type(1) { animation: menu-1 2s; animation-delay: 0.01s;}
@keyframes menu-1 {0% {margin-top:-50px; opacity:0;} 100% {margin-top:0px; opacity:1;}}
#header-pc .menu-pc li:nth-of-type(2) { animation: menu-2 2s; animation-delay: 0.02s;}
@keyframes menu-2 {0% {margin-top:-50px; opacity:0;} 100% {margin-top:0px; opacity:1;}}
#header-pc .menu-pc li:nth-of-type(3) { animation: menu-3 2s; animation-delay: 0.03s;}
@keyframes menu-3 {0% {margin-top:-50px; opacity:0;} 100% {margin-top:0px; opacity:1;}}
#header-pc .menu-pc li:nth-of-type(4) { animation: menu-4 2s; animation-delay: 0.04s;}
@keyframes menu-4 {0% {margin-top:-50px; opacity:0;} 100% {margin-top:0px; opacity:1;}}
/*헤더 아이콘*/

#header-pc .header-icon {float: right; position: absolute; right: 0; top: 0; width: 5%; height: 52px; margin-top:18px; transition: 0.5s;}
#header-pc .header-icon li {width: 100%; margin-bottom: 5px; height: 100%;}
#header-pc .header-icon li:nth-of-type(1) {display: block; width: 100%; height: 20px;  background: url(../img/돋보기.png)no-repeat center; background-size: contain; cursor: pointer;
animation-iteration-count:1; animation: icon 3s;}
@keyframes icon {0% {margin-top:-50px; opacity:0;}100% {margin-top:0px;opacity:1;}}
#header-pc ul.header-icon li:nth-of-type(2) {display: none; width: 100%; height: 20px;  background: url(../img/햄버거.png)no-repeat center; background-size: contain; cursor: pointer;}
#header-pc ul.header-icon li:nth-of-type(2).on {width: 90%; background: url(../img/닫기.png)no-repeat center; background-size: contain;}
#header-pc ul.header-icon li:nth-of-type(1).on2 {display: none;}

/*헤더-모바일*/
#header-m {display: none; position: absolute; right: 0; top: 70px; z-index: 3000; width: 100vw; height: 100vh;  background: #fff;
margin-bottom: 200px;}
#header-m .hambuger {position: absolute; right: -100%; top: 0; width:100vw; padding: 30px 0 84px; transition: 0.4s;}
#header-m .hambuger.on{right: 0;}
#header-m .hambuger li { width: 100%; padding: 20px 0; box-sizing: border-box; margin-bottom: 52px; padding-left: 32px;}
#header-m .hambuger li:last-of-type {margin-bottom: 0;}
#header-m .hambuger li a {font-size: 2rem; font-weight: 700; letter-spacing: -0.0625rem; color: #073042; transition: 0.3s; display: block;}
#header-m .hambuger li a:hover {color:#267e69;}
#header-m .hambuger.active{display: block; right: 0; width: 100%; height:auto;}
#header-m .hambuger li:last-of-type a {font-weight: 400;}
#header-m .hambuger li.underline {width: 90%; margin: 0 auto; margin-left: 36px; margin-bottom: 52px; padding-left: 0px; border-bottom: 2px solid darkgray; opacity: 0.5;}
#header-m select { margin-left: 55px; border: 0; box-sizing: content-box; padding: 8px 0; cursor: pointer; font: 500 1rem/1.4 var(--font-family-base);
 line-height: 1.5rem;}
#header-m .select-icon {position: absolute; left: 28px; bottom: 88px; width: 22px;}
body.scroll{overflow-y: hidden;}

/*헤더 검색창*/

#menu-pc-search {z-index: 500; float: right; text-align: center;  padding-top: 15px;width: 57%; height: 54px; margin-left: 20px; display: none;}
#menu-pc-search button{ background: #fff; border: none; outline: none;}
#menu-pc-search button:first-of-type{ width: 30px; height: 30px; margin-right: 5px;}
#menu-pc-search button:first-of-type img{width: 25px; object-position: center;}
#menu-pc-search input{width: 80%; border: 0; border-bottom: 1px solid black; border-radius: 0; outline: none; padding: 5px; box-sizing: border-box;
margin-right: 10px;}
#menu-pc-search button:last-of-type{width: 30px; height: 30px; object-position: center;}
#menu-pc-search button:last-of-type img{width: 18px; object-position: center;}

/*메인*/

#main {width: 100%; padding-bottom: 15em; border: 1px solid transparent; overflow: hidden; transition: 0.5s;}
#main .main-inner {display: flex; max-width: 1280px; height: 100%; margin: 0 auto;}
#main .main-text {width: 45%; padding-right: 10px; box-sizing: border-box;}
#main .main-text h1 {margin-top: 200px; font-size: 58px; animation: title 3s;}
@keyframes title {0% {margin-top: 400px; opacity:0;} 100% {margin-top: 200px; opacity:1}}
#main .main-text .main-text-m {font-size: 52px; display: none;}
#main .main-text p { margin-top: 25px; animation-iteration-count:1; animation: text-p 3s; animation-delay: 0.01s;}
@keyframes text-p {0% {margin-top: 40px; opacity:0;} 100% {margin-top: 25px; opacity:1;}}
#main .main-text > button{position: relative; width: 205px; height: 55px; margin-top: 35px; background-color: #073042; color: #fff; border: none; border-radius: 40px;   text-align: center; cursor: pointer;
animation: main-btn 3s; cursor: pointer; animation-delay: 0.02s; overflow: hidden;}
#main .main-text button > a {position: absolute; left: 50%; top: 0; margin-left: -74.905px; margin-top: 20px; z-index: 2; }
#main .btn-hover1 {position: absolute; left: 0; top: 0; width: 205.95px; height: 55.5px; border-radius: 40px; background-color: #30DE81; 
  transform: translateX(-206px); transition: 0.8s; z-index: 1;}
@keyframes main-btn {0% {margin-top: 55px; opacity:0;}100% {margin-top: 35px; opacity:1;}}

#main div.main-img-pc {position: relative; width: 55%; height: auto !important;}
#main div.main-img-pc span {position: relative; display: inline-block; animation: phone-pc 2s forwards; animation-delay: 0.8s; opacity: 0;}
@keyframes phone-pc {0% {top:700px; opacity: 0;} 50% {top:700px; opacity: 0;} 100% {top:0px; opacity: 1;}}
#main .main-img-pc span > img {position: absolute; left:0; top:0; width: 240px; margin-top: 98px; transition: 0.5s;}
#main .main-img-pc span > img:nth-of-type(1){ left:0; top:0; height: 510.5px;}
#main .main-img-pc span > img:nth-of-type(2){ left:240px; top:0; height: 511.5px; margin: 18px 18px 0 18px;}
#main .main-img-pc span > img:nth-of-type(3){ left:520px; top:0; height: 510.5px;}

/*메인 모바일버전*/
#main div.main-img-m {display: none; position : inherit; padding: 0 15px; box-sizing: border-box; width: 100%;}
#main div.main-img-m-inner {display: flex; width: 100%; animation-iteration-count:1; animation:phone-m 0.5s; animation-duration:1s; }
#main div.main-img-m-inner span {display: inline-block; width: 33.3%; text-align: center;}
#main div.main-img-m-inner span > img {width: 180px; margin-top: 98px; transition: 0.5s;} 
#main div.main-img-m-inner span:nth-of-type(2) img{ margin-top: 48px;}
/*@keyframes phone-m {0% {opacity:0;}100% {margin-top: 35px; opacity:1;}*/

/*섹션1*/

#section1 {width: 100%; padding: 0 80px 112px; box-sizing: border-box;}
#section1 .section1-1 {display: flex; max-width: 1280px; margin: 0 auto; }
#section1 .section1-1 > div:nth-of-type(1) {width: 65%;}
#section1 .section1-1 > div:nth-of-type(2) {width: 33%;}
#section1 .section1-1 span{width: 2%; background-color: #fff;}
#section1 figure{width: 100%; border-radius: 20px;}
#section1 figure.section1-img {margin-bottom: 8px;}
#section1 figure.section1-1-img {}
/*이미지*/
#section1 .section1-pc-img {display: block; width: 100%; height: 450px; object-fit: cover; border-radius: 20px;}
#section1 .section1-m-img {display: none; width: 100%; border-radius: 15px;}
#section1 .section1-2-pc-img {width: 100%; height: 450px; object-fit: cover; border-radius: 20px;}
/*섹션1 텍스트*/
#section1 figcaption {display: flex; flex-direction: column; justify-content: space-between; width: 100%; height: 250px;}
#section1 figcaption h2 {font-size: 2.2rem;}
#section1 figcaption .section-h2-pc {}
#section1 figcaption .section-h2-pc2 {}
#section1 figcaption .section-h2-m {display: none;}
#section1 figcaption .section-h2-m2 {display: none;}
#section1 figcaption p {}
#section1 figcaption button {position: relative; align-items: center; border: 1px solid #073042; border-radius: 40px; background-color: #fff; 
min-width: 80px; width: 200px; height: 54.4px; transition: color .4s linear; z-index: 1; cursor: pointer; overflow: hidden;}
#section1 figcaption button > a {position: absolute; left: 50%; top: 0; margin-left: -56.465px; margin-top: 20px; z-index: 2; color: #073042; font-weight: 600;}
#section1 .btn-hover {position: absolute; left: 0; top: 0; width: 198px; height: 52px; border-radius: 40px; background-color: #ecfbf3; 
  transform: translateX(-199px); transition: 0.8s; z-index: 1;}

/*섹션2*/
#section2 {width: 100%;}
#section2 ul {display: flex; max-width: 1280px; margin: 0 auto; margin-bottom: 3rem;}
#section2 ul li {}
#section2 ul li:nth-of-type(1){width: 40%; padding:0 50px;}
#section2 ul li h2{font-size: 2.8rem; word-break: keep-all;}
#section2 ul li:nth-of-type(2){width: 10%;}
#section2 ul li:nth-of-type(3){display: flex; flex-direction: column; justify-content: space-between; width: 30%;}
#section2 ul li > button {position: relative; width: 135px; height: 54.4px; background-color: #fff; border: 1px solid #073042; border-radius: 40px; overflow: hidden;}
#section2 ul li > button > a {position: absolute; left: 50%; top: 0; margin-left: -31.03px; margin-top: 20px; z-index: 2; color: #073042; font-weight: 600;}
#section2 .btn-hover {position: absolute; left: 0; top: 0; width: 135px; height: 54.4px; border-radius: 40px; background-color: #ecfbf3; 
  transform: translateX(-136px); transition: 0.8s; z-index: 1;}

/*스크롤 이벤트*/
#section2 ul li:nth-of-type(4){width: 10%;}
#section2 > div {position: relative; height: 510px; transform: rotate(0); background-color: #fff; overflow: hidden;}
#section2 > div > p{position: fixed; top:0; right: -2200px; transition: 0.3s; z-index: 500;}
#section2 span {display: none; padding: 0 15px; box-sizing: border-box;}
#section2 span p{margin-bottom: 2rem;}
#section2 span > button {position: relative; width: 135px; height: 54.4px; background-color: #fff; border: 1px solid #073042; border-radius: 40px; overflow: hidden;}
#section2 span > button > a {position: absolute; left: 50%; top: 0; margin-left: -31.03px; margin-top: 20px; z-index: 2; color: #073042; font-weight: 600;}
#section2 span .btn-hover {position: absolute; left: 0; top: 0; width: 135px; height: 54.4px; border-radius: 40px; background-color: #ecfbf3; 
  transform: translateX(-136px); transition: 0.8s; z-index: 1;}

/*섹션3*/
#section3 {width: 100%; padding: 112px 80px; box-sizing: border-box;}
#section3 .section3-1 {display: flex; max-width: 1280px; margin: 0 auto; }
#section3 .section3-1 > div:nth-of-type(1) {width: 65%;}
#section3 .section3-1 > div:nth-of-type(2) {width: 33%;}
#section3 .section3-1 span{width: 2%; background-color: #fff;}
#section3 figure{width: 100%; border-radius: 20px;}
#section3 figure.section3-img {margin-bottom: 8px;}
#section3 figure.section3-1-img {}
/*이미지*/
#section3 .section3-pc-img {display: block; width: 100%; height: 450px; object-fit: cover; border-radius: 20px;}
#section3 .section3-m-img {display: none; width: 100%; border-radius: 15px;}
#section3 .section3-2-pc-img {width: 100%; height: 450px; object-fit: cover; border-radius: 20px;}
/*섹션1 텍스트*/
#section3 figcaption {display: flex; flex-direction: column; justify-content: space-between; width: 100%; height: 250px;}
#section3 figcaption h2 {font-size: 2.2rem;}
#section3 figcaption .section3-h2-pc {}
#section3 figcaption .section3-h2-pc2 {}
#section3 figcaption .section3-h2-m {display: none;}
#section3 figcaption .section3-h2-m2 {display: none;}
#section3 figcaption p {}
#section3 figcaption button {position: relative; border: 1px solid #073042; border-radius: 40px; background-color: #fff; 
  min-width: 80px; width: 200px; height: 54.4px; transition: color .4s linear; z-index: 1; cursor: pointer; overflow: hidden;}
#section3 figcaption button > a {position: absolute; left: 50%; top: 0; margin-left: -56.465px; margin-top: 20px; z-index: 2; color: #073042; font-weight: 600;}

/**/
.btn-hover {position: absolute; left: 0; top: 0; width: 198px; height: 52px; border-radius: 40px; background-color: #ecfbf3; 
transform:translateX(-199px); transition: 0.8s; z-index: 1;}
#section4 div.btn-hover {position: absolute; left: 0; top: 0; width: 198px; height: 52px; border-radius: 40px; background-color: #ecfbf3; 
transform:translateX(-199px); transition: 0.8s; z-index: 1;}
  

/*섹션4*/
#section4 {width: 100%; padding: 0 80px 112px; box-sizing: border-box;}
#section4 .section4-1 {display: flex; max-width: 1280px; margin: 0 auto; }
#section4 .section4-1 > div:nth-of-type(1) {width: 65%;}
#section4 .section4-1 > div:nth-of-type(2) {width: 33%;}
#section4 .section4-1 span{width: 2%; background-color: #fff;}
#section4 figure{width: 100%; border-radius: 20px;}
#section4 figure.section4-img {margin-bottom: 8px;}
#section4 figure.section4-1-img {}
/*이미지*/
#section4 .section4-pc-img {display: block; width: 100%; height: 450px; object-fit: cover; border-radius: 20px;}
#section4 .section4-m-img {display: none; width: 100%; border-radius: 15px;}
#section4 .section4-2-pc-img {width: 100%; height: 450px; object-fit: cover; border-radius: 20px;}
/*섹션4 텍스트*/
#section4 figcaption {display: flex; flex-direction: column; justify-content: space-between; width: 100%; height: 250px;}
#section4 figcaption h2 {font-size: 2.2rem;}
#section4 figcaption .section4-h2-pc {}
#section4 figcaption .section4-h2-pc2 {}
#section4 figcaption .section4-h2-m {display: none;}
#section4 figcaption .section4-h2-m2 {display: none;}
#section4 figcaption p {}
#section4 figcaption button {position: relative; border: 1px solid #073042; border-radius: 40px; background-color: #fff; 
  min-width: 80px; width: 200px; height: 54.4px; transition: color .4s linear; z-index: 1; cursor: pointer; overflow: hidden;}
#section4 figcaption button > a {position: absolute; left: 50%; top: 0; margin-left: -56.465px; margin-top: 20px; z-index: 2; color: #073042; font-weight: 600;}

/**/
.btn-hover {position: absolute; left: 0; top: 0; width: 198px; height: 52px; border-radius: 40px; background-color: #ecfbf3; 
transform:translateX(-199px); transition: 0.8s; z-index: 1;}
#section4 .btn-hover {position: absolute; left: 0; top: 0; width: 198px; height: 52px; border-radius: 40px; background-color: #ecfbf3; 
transform:translateX(-199px); transition: 0.8s; z-index: 1;}


	/*섹션5*/
  #section5 {width: 100%; margin: 0 auto; background-color: #fff; overflow: hidden; margin-bottom: 100px;}
  #section5 > div {}
  #section5 > div > ul:nth-of-type(1) {display: flex; justify-content: space-between; max-width:1280px; margin: 0 auto; margin-bottom: 80px; padding: 0 15px; box-sizing: border-box;}
  #section5 > div > ul:nth-of-type(1) li:first-of-type {width: 55%;}
  #section5 > div > ul:nth-of-type(1) li:last-of-type {width: 45%; display: flex; flex-direction:column-reverse;}
  #section5 > div > ul:nth-of-type(1) li h2{font-size: 3.8rem;}
  #section5 > div > ul:nth-of-type(1) li span{height: 0.5rem;}

  #section5 .container {width: 100%; height: 483px; padding-bottom: 48px; box-sizing: border-box; }
  #section5 .container > div {position: relative;}
  #section5 .wrapper {position:absolute; left:0; top: 0; display: flex; width: 100%; height: 100%; padding: 0 50px; box-sizing: border-box;
    transform: translateX(250px); transition: 0.5s;
}
.wrapper::-webkit-scrollbar {
	display:none /* Chrome , Safari , Opera */
}
  #section5 .wrapper li.slide {flex: 0 0 420px; height: 344px; padding: 48px 48px 43px; margin-right: 30px; 
  background-color: #fff; box-shadow: 4px 20px 47px 0 rgba(0,0,0,0.1); cursor: pointer;
  display: flex; flex-direction: column; justify-content: space-between; position: relative; overflow: hidden;}
  #section5 .wrapper .slide .box-hover {position: absolute; left: -50px; bottom: -50px; width: 50px; height: 50px; 
  background-color: #ecfbf3; transition: 1s; transform:  scale(1);  border-radius: 50px;}
  #section5 .wrapper .slide:hover .box-hover{
  transform: scale(50);}
  #section5 .wrapper li.slide h1 {z-index: 1;}
  #section5 .wrapper .slide a {position: absolute; left: 3rem; bottom: 2rem; transition: 0.5s;}
  #section5 .wrapper .slide a:hover {color: #267e69;}
  #section5 .wrapper .slide span {position: absolute; left: 4.2rem; top: 2px; width: 15px; height: 15px; cursor: pointer; transition: 1s;}
  #section5 .wrapper .slide span > img {width: 15px; height: 15px; object-fit: cover;}
  
  .btn-box {max-width: 1280px; height: 96px; margin: 0 auto; padding: 0 32px; box-sizing: border-box;}
  .btn-box .x-scroll {position: relative; width: 100%; height: 5px; border-radius: 20px; background-color: lightgray; border: none; overflow: hidden; }
  .btn-box .x-scroll > span {position: absolute; left: 0; top: 0; width: 100%; height: 5px; border-radius: 20px; background-color: black; border: none;
  transform: translateX(-250px); transition: 0.5s;}

  .btn-box > div {position: relative; text-align: end; right: 0; top: 1px;}
 
  .btn-box > div .lf {width: 25px; height: 25px; background: url(../img/left.png); background-size: 100%; border: none;}
  .btn-box > div .rt {width: 25px; height: 25px; background: url(../img/right.png); background-size: 100%; border: none;}


/*푸터*/

#footer-pc {width: 100%; height: auto; padding: 0 15px; box-sizing: border-box;}
#footer-pc > nav {max-width: 1280px; margin: 0 auto;  box-sizing: border-box;}
#footer-pc > nav > ul {display: flex; justify-content: space-between;  transition: 0.2s;}
#footer-pc > nav h5 {padding-bottom: 5px; border-bottom: 1px solid lightgray;}
#footer-pc > nav ul > li { padding: 8px 0; }
#footer-pc ul.footer-sub-pc {width: 100%;}
#footer-pc ul.footer-sub-pc li{transition: 0.5s; font-weight: 600;} 
#footer-pc ul.footer-sub-pc > a { font-size: 1rem; }
#footer-pc ul.footer-sub-pc span {width: 15px; height: 15px; cursor: pointer;}
#footer-pc ul.footer-sub-pc span img {width: 15px; height: 15px; object-fit: cover;}
#footer-pc ul.footer-sub-pc li:hover {color: #267e69;}

#footer-pc ul.footer-sub li{transition: 0.5s; font-weight: 600;}
#footer-pc ul.footer-sub > a { font-size: 1rem; }
#footer-pc ul.footer-sub li:hover {color: #267e69;}
#footer-pc ul.footer-sub span {width: 15px; height: 15px; cursor: pointer;}
#footer-pc ul.footer-sub span img {width: 15px; height: 15px; object-fit: cover;}

#footer-m {display: none; width: 100%;}
#footer-m > nav {padding-left: 0; padding: 0 32px 50px;}
#footer-m > nav > ul {display: block; margin-left: 0;}
#footer-m > nav > ul > li {position: relative; width: 100%; padding: 8px 0;}
#footer-m > nav > ul > li::before {content:""; width: 15px; height: 15px; background: url(../img/plus.png); background-size: 100%; position: absolute; right: 0; top: 30px; cursor: pointer; transition: 0.5s;} 
#footer-m > nav > ul > li.change::before {transform: rotate(360deg); transform-origin: center;}


#footer-m > nav > ul > li {display: block; padding-top: 2rem; box-sizing: border-box; border-bottom: 1px solid gray;}
#footer-m ul.footer-sub-m {display: none; width: 100%; padding-top: 0.5rem; box-sizing: border-box;}
#footer-m ul.footer-sub-m li {padding: 15px 0; box-sizing: border-box;}
#footer-m ul.footer-sub-m li:hover {color: #267e69;}
#footer-m ul.footer-sub-m span {width: 15px; height: 15px; cursor: pointer;}
#footer-m ul.footer-sub-m span img {width: 15px; height: 15px; object-fit: cover;}

#footer-colophon {display: flex; max-width: 1280px; margin: 0 auto; margin-top: 3rem; padding: 40px 15px; box-sizing: border-box;
transition: 0.2s; border-top: 0.5px solid lightgray;}
#footer-colophon nav > div {}
#footer-colophon nav > div:nth-of-type(1) {width: 60%;  background-color: #FFF;}
#footer-colophon nav > div:nth-of-type(2) {width: 20%;  background-color: #FFF;}
#footer-colophon nav > div:nth-of-type(1) > a{}
#footer-colophon nav > div:nth-of-type(1) form{position: relative; margin-bottom: 1rem;}
#footer-colophon nav > div:nth-of-type(1) form > select{margin-left: 55px;
border: 0; box-sizing: content-box; padding: 8px 0; cursor: pointer; line-height: 1.5rem;}

#footer-colophon nav > div:nth-of-type(1) form > select > option{}
#footer-colophon nav > div:nth-of-type(1) .select-icon2 {position: absolute; left: 10.2rem; top: 0.5rem; width: 15px;}
#footer-colophon nav > div:nth-of-type(1) p {font-size: 0.8rem; padding-right: 10rem; box-sizing: border-box;}
#footer-colophon nav > div:nth-of-type(3) {width: 20%; background-color: #FFF; margin-top: 10px;}
#footer-colophon nav > div:nth-of-type(3) > ul {display: flex; justify-content: space-between; text-align: center; }
#footer-colophon nav > div:nth-of-type(3) > ul > li > a{}
#footer-colophon nav > div:nth-of-type(3) img {}

/*모바일*/
/*-------------------------------------------------------------------------------------------------*/
@media all and (max-width:1439px){
#header-pc {padding: 0 15px; box-sizing: border-box; margin: 0 auto;}
#main .main-inner{padding: 0 15px; box-sizing: border-box;}

#main .main-img-pc span > img {width: 190px; margin-top: 208px;}
#main .main-img-pc span > img:nth-of-type(1){left:35px; top:0; height: 404.14px;}
#main .main-img-pc span > img:nth-of-type(2){left:260px; top:0; height: 404.94px; margin: 108px 5px 0 5px;}
#main .main-img-pc span > img:nth-of-type(3){left:490px; top:0; height: 404.14px;}

#footer-m {display: none;}
}
/*-------------------------------------------------------------------------------------------------*/
@media all and (max-width:1279px){ 
#main .main-inner {max-width: 1179px;} 
#main .main-img-pc span > img {width: 170px;}
#main .main-img-pc span > img:nth-of-type(1){left:0px; top:0; height:361.59px;}
#main .main-img-pc span > img:nth-of-type(2){left:190px; height:362.31px; }
#main .main-img-pc span > img:nth-of-type(3){left:390px; height:361.59px;}

#footer-m {display: none;}
}
/*-------------------------------------------------------------------------------------------------*/
@media all and (max-width:1172px){
 #header-m .hambuger.active{display: none !important;}
/*섹션1 텍스트*/
#section1 figcaption .section-h2-pc {display: none;}
#section1 figcaption .section-h2-m {display: block;}
/*섹션3 텍스트*/
#section3 figcaption .section3-h2-pc {display: none;}
#section3 figcaption .section3-h2-m {display: block;}
/*섹션4 텍스트*/
#section4 figcaption .section4-h2-pc {display: none;}
#section4 figcaption .section4-h2-m {display: block;}

#footer-m {display: none;}
}
/*-------------------------------------------------------------------------------------------------*/
@media all and (max-width:1023px){
#header-pc {width: 100%;}
#header-pc .menu-pc {display: none;}
#header-pc nav {width: 60%;}
#header-pc .header-icon {display: flex; width: 80px}
#header-pc .header-icon li{width: 40px; height: 40px;}
#header-pc ul.header-icon li:nth-of-type(1).on2 {display: block;}
#header-pc ul.header-icon li:nth-of-type(2) {display: block;}
/*메인*/
#main {width: 100%; padding-bottom: 0;}
#main .main-inner {display: block; width: 100%;}
#main .main-text {width: 100%; margin-top: 80px; padding-right: 0px; padding:10px; box-sizing: border-box;}
#main .main-text h1 {display: none;}
#main .main-text h1.main-text-m {margin-top: 10px; display: block; animation-iteration-count:1; animation: title2 3s;}
#main .main-text p { margin-top: 25px; animation-iteration-count:1; animation: p 3s;}

#main div.main-img-pc {display: none;}
#main div.main-img-m {display: block;}
/*섹션1*/
#section1 {padding: 80px 32px; box-sizing: border-box;}
#section1 .section1-1 {width: 100%;}
#section1 .section1-1 > div:nth-of-type(1) {width: 49%;}
#section1 .section1-1 > div:nth-of-type(2) {width: 49%;}
#section1 .section1-1 span{width: 2%;}
#section1 figure{width: 100%;}
#section1 figure.section1-img {margin-bottom: 15px;}
#section1 figure.section1-1-img {margin-bottom: 8px;}
/*이미지*/
#section1 .section1-pc-img {display: none;}
#section1 .section1-m-img {display: block;}
#section1 .section1-2-pc-img {display: none;}
/*섹션1 텍스트*/
#section1 figcaption {width: 90%; height: 300px;}
#section1 figcaption .section-h2-pc {display: none;}
#section1 figcaption .section-h2-m {display: block;}
/*섹션2*/
#section2 ul {display: block; width: 100%; margin-bottom: 3rem;}
#section2 ul li { margin: 0 auto;}
#section2 ul li:nth-of-type(1){width: 68%; padding:0; margin-bottom: 3rem;}
#section2 ul li h2{font-size: 2.8rem; word-break: keep-all;}
#section2 ul li:nth-of-type(2){display: none; width: 0%;}
#section2 ul li:nth-of-type(3){width: 68%;}
#section2 ul li:nth-of-type(3) > p {width: 100%; margin-bottom: 1.2rem;}
#section2 ul li:nth-of-type(4){display: none; width: 0%;}
#section2 > div {}
#section2 > div > p{}
#section2 > div > p > img{height: 350px;}

/*섹션3*/
#section3 {padding: 80px 32px; box-sizing: border-box;}
#section3 .section3-1 {width: 100%;}
#section3 .section3-1 > div:nth-of-type(1) {width: 49%;}
#section3 .section3-1 > div:nth-of-type(2) {width: 49%;}
#section3 .section3-1 span{width: 2%;}
#section3 figure{width: 100%;}
#section3 figure.section3-img {margin-bottom: 15px;}
#section3 figure.section3-1-img {margin-bottom: 14px;}
/*이미지*/
#section3 .section3-pc-img {display: none;}
#section3 .section3-m-img {display: block;}
#section3 .section3-2-pc-img {display: none;}
/*섹션3 텍스트*/
#section3 figcaption {width: 90%; height: 300px;}
#section3 figcaption .section3-h2-pc {display: none;}
#section3 figcaption .section3-h2-m {display: block;}

/*섹션4*/
#section4 {padding: 80px 32px; box-sizing: border-box;}
#section4 .section4-1 {width: 100%;}
#section4 .section4-1 > div:nth-of-type(1) {width: 49%;}
#section4 .section4-1 > div:nth-of-type(2) {width: 49%;}
#section4 .section4-1 span{width: 2%;}
#section4 figure{width: 100%;}
#section4 figure.section4-img {margin-bottom: 15px;}
#section4 figure.section4-1-img {margin-bottom: 14px;}
/*이미지*/
#section4 .section4-pc-img {display: none;}
#section4 .section4-m-img {display: block;}
#section4 .section4-2-pc-img {display: none;}
/*섹션4 텍스트*/
#section4 figcaption {width: 90%; height: 300px;}
#section4 figcaption .section4-h2-pc {display: none;}
#section4 figcaption .section4-h2-m {display: block;}

/*푸터*/
#footer-pc {display: none;}
#footer-m {display: block; width: 100%;}

#footer-colophon {display: flex; flex-direction: column-reverse; width: 100%; margin-top: 0; padding: 50px 32px;
}
#footer-colophon nav {display: flex; flex-direction: column-reverse;}
#footer-colophon nav > div:nth-of-type(1) p {padding-right: 0rem; }
#footer-colophon nav > div:nth-of-type(2) {display: none;}
#footer-colophon nav > div:nth-of-type(3) {width: 25%; background-color: #FFF;}
} 

/*-------------------------------------------------------------------------------------------------*/
@media all and (max-width:887px){
  #main .main-text {margin-top: 0px; }
  #main .main-text h1 {display: block; margin-top: 0;}
  #main .main-text h1.main-text-m { display: none;}

#section1 .section-h2-m  {display: block;}
#section1 .section-h2-m2  {display: none;}

#section3 .section3-h2-m  {display: block;}
#section3 .section3-h2-m2  {display: none;}

#section4 .section4-h2-m  {display: block;}
#section4 .section4-h2-m2  {display: none;}
}
/*-------------------------------------------------------------------------------------------------*/
@media all and (max-width:814px){
 
#section1 figcaption .section-h2-pc2 {display: none;}
#section1 figcaption .section-h2-m2 {display: block;}

#section3 figcaption .section3-h2-pc2 {display: none;}
#section3 figcaption .section3-h2-m2 {display: block;}

#section4 figcaption .section4-h2-pc2 {display: none;}
#section4 figcaption .section4-h2-m2 {display: block;}

}

/*-------------------------------------------------------------------------------------------------*/
@media all and (max-width:779px){
#section1 {padding: 80px 32px; box-sizing: border-box;}
#section1 figcaption {height: 340px;}

#section3 {padding: 80px 32px; box-sizing: border-box;}
#section3 figcaption {height: 340px;}

#section4 {padding: 80px 32px; box-sizing: border-box;}
#section4 figcaption {height: 340px;}

}

/*-------------------------------------------------------------------------------------------------*/
@media all and (max-width:765px){
    #menu-pc-search {width: 75%;}
}

@media all and (max-width:689px){  
  #footer-colophon {padding: 40px 15px;}
  #footer-colophon nav > div:nth-of-type(1) {width: 100%;  background-color: #FFF;}
  #footer-colophon nav > div:nth-of-type(1) form > select{margin-left: 25px; width: 200px;}
  #footer-colophon nav > div:nth-of-type(1) .select-icon2 {position: absolute; left:133px;}
  #footer-colophon nav > div:nth-of-type(3) > ul {width: 200px; }
 
}


/*-------------------------------------------------------------------------------------------------*/
@media all and (max-width:599px){
#menu-pc-search {position: absolute; left: 0; top: 0; z-index: 2000; text-align: center;  padding-top: 15px; 
margin-left: 0px; width: 100%; height: 54px; display: none; background-color: #fff;}
#main .main-text {padding: 0;}
#main .main-text h1 {display: none;}
#main .main-text h1.main-text-m { display: block; font-size: 37px; margin-top: 0px;}
#main div.main-img-m-inner span > img {width: 101px !important  ; margin-top: 98px; transition: 0.5s;} 

/*섹션1*/ 
#section1 { padding:65px 15px; box-sizing: border-box;}
#section1 .section1-1 {display: block; width: 100%;}
#section1 .section1-1 > div:nth-of-type(1) {width: 100%; margin-bottom: 5.5rem;}
#section1 .section1-1 > div:nth-of-type(2) {width: 100%;}
#section1 .section1-1 span{width: 2%;}
#section1 figure{width: 100%;}
#section1 figure.section1-img {margin-bottom: 25px;}
#section1 figure.section1-1-img {margin-bottom: 25px;}
/*섹션1 텍스트*/
#section1 figcaption {width: 100%; height: 250px;}
#section1 figcaption:nth-of-type(1) {width: 100%; height: 300px;}
#section1 figcaption .section-h2-pc {display: block;}
#section1 figcaption .section-h2-m {display: none;}
#section1 figcaption .section-h2-pc2 {display: block;}
#section1 figcaption .section-h2-m2 {display: none;}
#section1 figcaption p {margin-bottom: 14px;}

/*섹션2*/
#section2 ul li:nth-of-type(1){width: 100%; padding:0 15px; box-sizing: border-box;}
#section2 ul li:nth-of-type(3){display: none;}
#section2 span {display: block;}
#section2 > div {height: 320px;}
#section2 > div > p{}
#section2 > div > p > img{height: 300px;}
/*섹션3*/ 
#section3 { padding:65px 15px; box-sizing: border-box;}
#section3 .section3-1 {display: block; width: 100%;}
#section3 .section3-1 > div:nth-of-type(1) {width: 100%; margin-bottom: 5.5rem;}
#section3 .section3-1 > div:nth-of-type(2) {width: 100%;}
#section3 .section3-1 span{width: 2%;}
#section3 figure{width: 100%;}
#section3 figure.section3-img {margin-bottom: 25px;}
#section3 figure.section3-1-img {margin-bottom: 25px;}
/*섹션3 텍스트*/
#section3 figcaption {width: 100%; height: 250px;}
#section3 figcaption .section3-h2-pc {display: block;}
#section3 figcaption .section3-h2-m {display: none;}
#section3 figcaption .section3-h2-pc2 {display: block;}
#section3 figcaption .section3-h2-m2 {display: none;}
#section3 figcaption p {margin-bottom: 14px;}
#section3 figcaption button {padding: 12px 20px; width: 170px;}

/*섹션4*/ 
#section4 { padding:65px 15px; box-sizing: border-box;}
#section4 .section4-1 {display: block; width: 100%;}
#section4 .section4-1 > div:nth-of-type(1) {width: 100%; margin-bottom: 5.5rem;}
#section4 .section4-1 > div:nth-of-type(2) {width: 100%;}
#section4 .section4-1 span{width: 2%;}
#section4 figure{width: 100%;}
#section4 figure.section4-img {margin-bottom: 25px;}
#section4 figure.section4-1-img {margin-bottom: 25px;}
/*섹션4 텍스트*/
#section4 figcaption {width: 100%; height: 250px;}
#section4 figcaption .section4-h2-pc {display: block;}
#section4 figcaption .section4-h2-m {display: none;}
#section4 figcaption .section4-h2-pc2 {display: block;}
#section4 figcaption .section4-h2-m2 {display: none;}
#section4 figcaption p {margin-bottom: 14px;}
#section4 figcaption button {padding: 12px 20px; width: 170px;}
}

/*-------------------------------------------------------------------------------------------------*/
@media all and (max-width:462px){
  #footer-colophon nav > div:nth-of-type(1) form{display: flex; flex-direction: column;}
  #footer-colophon nav > div:nth-of-type(1) form > select{margin-left: 25px; width: 200px;}
  #footer-colophon nav > div:nth-of-type(1) .select-icon2 {left:0px; top: 2rem;}
  #footer-colophon nav > div:nth-of-type(3) > ul {width: 200px; }
}
/*-------------------------------------------------------------------------------------------------*/
@media all and (max-width:420px){
    #menu-pc-search input{width: 60%;}
}

/*-------------------------------------------------------------------------------------------------*/
@media all and (max-width:346px){
    #header-pc nav {width: 50%;}
}

/*-------------------------------------------------------------------------------------------------*/
@media all and (max-width:320px){
  #header-pc nav {width: 50%;}

  #main .main-inner {padding: 0px;}
  #main .main-text {padding: 0 15px; box-sizing: border-box;}
  #main .main-text > h1 {display: block; font-size: 40px;}
  #main .main-text h1.main-text-m { display: none;}
  #main .main-text button{padding: 15px 30px 14px; }
  #main div.main-img-m {padding: 0px;}
  #main div.main-img-m-inner span > img {width: 101px;} 
  #main div.main-img-m-inner span:nth-of-type(1) img{ height:215px; margin-top: 98px;}
  #main div.main-img-m-inner span:nth-of-type(2) img{ height:215.5px; margin-top: 48px;}
  #main div.main-img-m-inner span:nth-of-type(3) img{ height:215px; margin-top: 98px;}

/*섹션1*/
#section1 figcaption {width: 100%; height: 250px;}
#section1 figcaption h2 {font-size: 1.5rem;}
#section1 figcaption .section-h2-pc {display: none; margin-bottom: 10px;}
#section1 figcaption .section-h2-m {display: block; margin-bottom: 10px;}
#section1 figcaption .section-h2-pc2 {}
#section1 figcaption p {margin-bottom: 24px;}

/*섹션2*/
#section2 ul {padding: 0 15px; box-sizing: border-box; margin-top: 3.5rem;}
#section2 ul li:nth-of-type(1){width: 100%;}
#section2 ul li h2{font-size: 36px;}
#section2 ul li:nth-of-type(3){display: none; width: 0%;}
#section2 > div {}
#section2 > div > p{}

/*섹션3*/
#section3 figcaption {width: 100%; height: 250px;}
#section3 figcaption h2 {font-size: 1.5rem;}
#section3 figcaption .section3-h2-pc {display: none; margin-bottom: 10px;}
#section3 figcaption .section3-h2-m {display: block; margin-bottom: 10px;}
#section3 figcaption .section3-h2-pc2 {}
#section3 figcaption p {margin-bottom: 24px;}

/*섹션4*/
#section4 figcaption {width: 100%; height: 250px;}
#section4 figcaption h2 {font-size: 1.5rem;}
#section4 figcaption .section4-h2-pc {display: none; margin-bottom: 10px;}
#section4 figcaption .section4-h2-m {display: block; margin-bottom: 10px;}
#section4 figcaption .section4-h2-pc2 {}
#section4 figcaption p {margin-bottom: 24px;}

#footer-m > nav {padding-left: 0; padding: 0px 15px;}
}